*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
html, body {
    overflow-x: hidden;
  }
body{
    background-color:rgb(28, 40, 53);
    margin-top: 10vh;
}
header{
    display: flex;
    background-color:rgb(28, 40, 53);
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    

    
}
header ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 33px;
    
}
p{
    display: flex;
    font-size: 25px;
    color: yellow;
    margin: 10px;
    
}
.art1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: yellow
}
nav{
    width: 80%;
}
.im h1{
    color: yellow;
    display: flex;
    font-size: 75px;
    position: relative;
    bottom: 50px;
    
    
}
article{
    padding: 50px;
    width: auto;
}
.im h2{
    color: white;
    display: flex;
    position: relative;
    bottom: 60px;
    font-size: 75px;
}
.im h3{
    color: white;
    display: flex;
    position: relative;
    bottom: 80px;
    margin-left: 422px;
    font-size: 75px;
}
.logo{
    height: 100px;
    object-fit: contain;
    border-radius: 40px;

}
.im{
    background-image: url(fon.png);
    background-size: cover;  
    height: 88vh;
    width: auto;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
}



.hhh{
    top: 50px;
}
.ooo img{
    border-radius: 40px;
}


.yyy{
    display: flex;
    justify-content: start;
}

.jjj{
    font-size: 40px;
    margin-left: 15px;
}

.ppp{
    height: 90vh;
}







.burger{
    display: none;
    width: 30px;
    height: 22px;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-around;
}
.burger span{
    height: 2px;
    background-color: white;
    
}
.burger.active span:nth-child(1){
    transform: rotate(45deg) translateY(8px);
}
.burger.active span:nth-child(2){
    display: none;
}
.burger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-8px);
}
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 30px;
  background-color: #999;
  color: black;
  
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: none; /* скрыта по умолчанию */
  z-index: 1000;
}
/* для пландшета 748px */

@media (min-width:748px) and (max-width:1048px){
    
    body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
    .ul{display: none;}
    .ul.show{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        background-color: rgb(95, 155, 105);
        padding: 5px;
    }
    .ppp{
        height: auto;
    }
    .ooo img{
        object-fit: cover;
        height: auto;
        width: 85%;
        margin: 15px;
    }
    main p{
        font-size: 35px;
    }
    .im{
        object-fit: cover;
        height: 37vh;
        width: 95%;
        font-size: 15px;
    }
    .ttt img{
        height: auto;
        width: 35%;
    }
    article{
        padding: 15px;
    }
    .im h1{
        font-size: 3.5vh;
        bottom: 10px;
    }
    .im h2{
        font-size: 3vh;
        bottom: 13px;
    }
    .im h3{
        font-size: 3.1vh;
        bottom: 20px;
        margin-left: 23%;
    }
    footer{
        margin-top: 100%;
    }
    .burger{
        
        display: flex;
        
    }
    
}

@media (max-width:548px) {
    
    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .ul{display: none;}
    .ul.show{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        background-color: rgb(95, 155, 105);
        padding: 5px;
    }
    .ppp{
        height: auto;
    }
    .ooo img{
        object-fit: cover;
        height: auto;
        width: 85%;
        margin: 15px;
    }
    main p{
        font-size: 15px;
    }
    .im{
        object-fit: cover;
        height: 22vh;
        width: 90%;
        font-size: 15px;
    }
    .ttt img{
        height: auto;
        width: 35%;
    }
    article{
        padding: 15px;
    }
    .im h1{
        font-size: 15px;
        bottom: 10px;
    }
    .im h2{
        font-size: 15px;
        bottom: 13px;
    }
    .im h3{
        font-size: 15px;
        bottom: 20px;
        margin-left: 95px;
    }
    footer{
        margin-top: 100%;
    }
    .burger{
        
        
        display: flex;
        position: absolute;
        top: 10px;
        
    }
    
}

